.navbar {
	background-color: #863375;
}
.container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}
canvas {
	padding-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
}